@import 'map';

:export {
  constantWhite: $constant-white;
  constantBlack: $constant-black;
  grayscaleContent1: $grayscale-content-1;
  grayscaleContent2: $grayscale-content-2;
  grayscaleContent3: $grayscale-content-3;
  grayscaleLine: $grayscale-line;
  grayscaleBg3: $grayscale-bg-3;
  grayscaleBg2: $grayscale-bg-3;
  grayscaleBg1: $grayscale-bg-1;
  systemBlueBase: $system-blue-base;
  systemBlueLine: $system-blue-line;
  systemBlueA20: $system-blue-a20;
  systemBlueA40: $system-blue-a40;
  systemBlueA60: $system-blue-a60;
  systemBlueBg: $system-blue-bg;
  systemVioletBase: $system-violet-base;
  systemVioletLine: $system-violet-line;
  systemVioletA20: $system-violet-a20;
  systemVioletA40: $system-violet-a40;
  systemVioletA60: $system-violet-a60;
  systemVioletBg: $system-violet-bg;
  systemGreenBase: $system-green-base;
  systemGreenLine: $system-green-line;
  systemGreenA20: $system-green-a20;
  systemGreenA40: $system-green-a40;
  systemGreenA60: $system-green-a60;
  systemGreenBg: $system-green-bg;
  systemOrangeBase: $system-orange-base;
  systemOrangeLine: $system-orange-line;
  systemOrangeA20: $system-orange-a20;
  systemOrangeA40: $system-orange-a40;
  systemOrangeA60: $system-orange-a60;
  systemOrangeBg: $system-orange-bg;
  systemRedBase: $system-red-base;
  systemRedLine: $system-red-line;
  systemRedA20: $system-red-A20;
  systemRedA40: $system-red-A40;
  systemRedA60: $system-red-A60;
  systemRedBg: $system-red-bg;
  systemPinkBase: $system-pink-base;
  systemPinkLine: $system-pink-line;
  systemPinkA20: $system-pink-a20;
  systemPinkA40: $system-pink-a40;
  systemPinkA60: $system-pink-a60;
  systemPinkBg: $system-pink-bg;
}
