@import 'v2/config';

// Constant
$constant-white: $config-white;
$constant-black: $config-black;

// Grayscale
$grayscale-content-1: var(--grayscale-content-1);
$grayscale-content-2: var(--grayscale-content-2);
$grayscale-content-3: var(--grayscale-content-3);
$grayscale-line:      var(--grayscale-line);
$grayscale-card:      var(--grayscale-card);
$grayscale-bg-3:      var(--grayscale-bg-3);
$grayscale-bg-2:      var(--grayscale-bg-2);
$grayscale-bg-1:      var(--grayscale-bg-1);

// System
$system-blue-base: var(--system-blue-base);
$system-blue-line: var(--system-blue-line);
$system-blue-a20:  var(--system-blue-a20);
$system-blue-a40:  var(--system-blue-a40);
$system-blue-a60:  var(--system-blue-a60);
$system-blue-bg:   var(--system-blue-bg);
$system-green-base: var(--system-green-base);
$system-green-line: var(--system-green-line);
$system-green-a20:  var(--system-green-a20);
$system-green-a40:  var(--system-green-a40);
$system-green-a60:  var(--system-green-a60);
$system-green-bg:   var(--system-green-bg);
$system-orange-base: var(--system-orange-base);
$system-orange-line: var(--system-orange-line);
$system-orange-a20:  var(--system-orange-a20);
$system-orange-a40:  var(--system-orange-a40);
$system-orange-a60:  var(--system-orange-a60);
$system-orange-bg:   var(--system-orange-bg);
$system-red-base: var(--system-red-base);
$system-red-line: var(--system-red-line);
$system-red-A20:  var(--system-red-a20);
$system-red-A40:  var(--system-red-a40);
$system-red-A60:  var(--system-red-a60);
$system-red-bg:   var(--system-red-bg);
$system-pink-base: var(--system-pink-base);
$system-pink-line: var(--system-pink-line);
$system-pink-a20:  var(--system-pink-a20);
$system-pink-a40:  var(--system-pink-a40);
$system-pink-a60:  var(--system-pink-a60);
$system-pink-bg:   var(--system-pink-bg);
$system-violet-base: var(--system-violet-base);
$system-violet-line: var(--system-violet-line);
$system-violet-a20:  var(--system-violet-a20);
$system-violet-a40:  var(--system-violet-a40);
$system-violet-a60:  var(--system-violet-a60);
$system-violet-bg:   var(--system-violet-bg);
