@font-face {
  font-family: 'SF UI Display SemiBold';
  font-style: normal;
  font-weight: normal;

  src: url('./sfuidisplay-semibold-webfont.eot'),
  url('./sfuidisplay-semibold-webfont.ttf') format('truetype'),
  url('./sfuidisplay-semibold-webfont.woff') format('woff'),
  url('./sfuidisplay-semibold-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'SF UI Display Bold';
  font-style: normal;
  font-weight: normal;
  src: url('./sfuidisplay-bold-webfont.eot'),
  url('./sfuidisplay-bold-webfont.ttf') format('truetype'),
  url('./sfuidisplay-bold-webfont.woff') format('woff'),
  url('./sfuidisplay-bold-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'SF UI Display Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./sfuidisplay-regular-webfont.eot'),
  url('./sfuidisplay-regular-webfont.ttf') format('truetype'),
  url('./sfuidisplay-regular-webfont.woff') format('woff'),
  url('./sfuidisplay-regular-webfont.woff2') format('woff2');
}
