$dark-theme: (
    grayscale: (
      -content: #fff,
      -background: #1c1c1c,
    ),
    system: (
      -blue: #168fff,
      -green: #17cb49,
      -orange: #ff9f2d,
      -red: #f74141,
      -pink: #f03ea9,
      -violet: #963af2
    ),
    overrides: (
      grayscale-content-1: #e8e8e8,
      grayscale-card: #333,
    )
  );
