$light-theme: (
    grayscale: (
      -content: #1c1c1c,
      -background: #fff,
    ),
    system: (
      -blue: #0085ff,
      -green: #00ba34,
      -orange: #f98600,
      -red: #e92c2c,
      -pink: #e92c9d,
      -violet: #8b2ce9
    ),
    overrides: (
      grayscale-card: #fff
    )
  );
