.ws-text-box {
  gap: 4px;

  &--top-label {
    gap: 2px;
  }

  &__error {
    color: red;
  }

  &__label {
    // &--required {

    // }
  }

  &__field {
    padding: 4px 6px;
    border-radius: 4px;
    border: 1px solid black;

    // &--error {

    // }
  }
}
