$white: #fff;
$black: #000;

/* Black Coral */
$bc030: #fafbfc;
$bc040: #f2f7f8;
$bc050: #e5eff0;
$bc060: #d5dee0;
$bc070: #c4ced1;
$bc080: #b3bdc2;
$bc090: #a3adb3;
$bc100: #929da3;
$bc200: #818c94;
$bc300: #707c85;
$bc400: #606b75;
$bc500: #4f5b66;
$bc600: #47525d;
$bc700: #3f4955;
$bc750: #37404c;
$bc800: #2f3744;
$bc900: #282e3b;

/* Caroline Blue */
$cb030: #ecf8fd;
$cb040: #d9f1fc;
$cb050: #c7eafa;
$cb060: #b4e3f8;
$cb070: #a1dcf7;
$cb080: #8ed5f5;
$cb090: #7ccef4;
$cb100: #69c7f2;
$cb200: #56bff0;
$cb300: #43b8ef;
$cb400: #31b1ed;
$cb500: #1ca8eb;
$cb600: #14a0e1;
$cb700: #1293ce;
$cb750: #1085bc;
$cb800: #0f78a9;
$cb900: #0d6b96;

/* Denim */
$de030: #eaf8fd;
$de040: #d8f2fa;
$de050: #c5ebf7;
$de060: #b0daf0;
$de070: #9ccae8;
$de080: #87bae1;
$de090: #73aad9;
$de100: #5f99d1;
$de200: #4a89ca;
$de300: #3679c2;
$de400: #2168bb;
$de500: #0d58b3;
$de600: #0c4fa9;
$de700: #0a469f;
$de750: #093e95;
$de800: #08358b;
$de900: #072c81;

/* Green RYB */
$gr020: #f4faf0;
$gr030: #e8f5e0;
$gr040: #ddf0d1;
$gr050: #d1ebc2;
$gr060: #c6e6b3;
$gr070: #bbe0a3;
$gr080: #afdb94;
$gr090: #a4d685;
$gr100: #98d175;
$gr200: #8dcc66;
$gr300: #82c757;
$gr400: #76c247;
$gr500: #68b13b;
$gr600: #63a838;
$gr700: #5a9933;
$gr750: #518a2e;
$gr800: #487a29;
$gr900: #3f6b24;

/* Portland Orange */
$po020: #ffeeeb;
$po030: #ffded6;
$po040: #ffcdc2;
$po050: #ffbcad;
$po060: #ffac99;
$po070: #ff9b85;
$po080: #ff8a70;
$po090: #ff7a5c;
$po100: #ff6947;
$po200: #ff5630;
$po300: #ff481f;
$po400: #ff370a;
$po500: #f52d00;
$po600: #e02900;
$po700: #cc2500;
$po750: #b82200;
$po800: #a31e00;
$po900: #8f1a00;

/* Slate Gray */
$sg005: #f3f4f6;
$sg010: #e8eaed;
$sg020: #dcdfe4;
$sg030: #d1d5dc;
$sg040: #c5cad3;
$sg050: #bac0ca;
$sg060: #aeb5c1;
$sg070: #a3abb8;
$sg080: #97a0af;
$sg090: #8c95a6;
$sg100: #808b9d;
$sg200: #6b778c;
$sg300: #626c7f;
$sg400: #596273;
$sg500: #505968;
$sg600: #474f5c;
$sg700: #3e4551;
$sg750: #353b45;
$sg800: #2c313a;
$sg900: #23272e;

/* Titanium Yellow */
$ty030: #fefdec;
$ty040: #fdfbd8;
$ty050: #fcf9c5;
$ty060: #fbf7b1;
$ty070: #faf59e;
$ty080: #f9f38b;
$ty090: #f8f177;
$ty100: #f7ef64;
$ty200: #f6ee51;
$ty300: #f5ec3d;
$ty400: #f4ea2a;
$ty500: #f2e50e;
$ty600: #e9de0c;
$ty700: #d5cb0b;
$ty750: #c2b90a;
$ty800: #aea609;
$ty900: #9b9408;

/* Amaranth MP */
$amp020: #fbeaf2;
$amp030: #f6d4e6;
$amp040: #f2bfd9;
$amp050: #eeaacd;
$amp060: #e994c0;
$amp070: #e57fb4;
$amp080: #e16aa7;
$amp090: #dc549a;
$amp100: #d83f8e;
$amp200: #d32b81;
$amp300: #bd2674;
$amp400: #a82267;
$amp500: #9a1f5e;
$amp600: #8c1c56;
$amp700: #7e194d;
$amp750: #701745;
$amp800: #62143c;
$amp900: #541134;
