@import 'mixins';

%title-1 {
  @include font-strong-reduction(40px, 48px);

  font-family: 'SF UI Display SemiBold', sans-serif;
}

%title-2 {
  @include font-strong-reduction(48px, 52px);

  font-family: 'SF UI Display SemiBold', sans-serif;
}

%subheader-1 {
  @include font-strong-reduction(20px, 24px);

  font-family: 'SF UI Display SemiBold', sans-serif;
}

%subheader-2 {
  @include font-strong-reduction(24px, 28px);

  font-family: 'SF UI Display SemiBold', sans-serif;
}

%body-1 {
  @include font-strong-reduction(16px, 18px);

  font-family: 'SF UI Display Regular', sans-serif;

  &--strong {
    @extend %body-1;

    font-family: 'SF UI Display SemiBold', sans-serif;
  }
}

%body-2 {
  @include font-strong-reduction(16px, 20px);

  font-family: 'SF UI Display Regular', sans-serif;
}

%body-3 {
  @include font-strong-reduction(18px, 20px);

  font-family: 'SF UI Display Regular', sans-serif;
}

%label-1 {
  @include font-strong-reduction(12px, 16px);

  font-family: 'SF UI Display SemiBold', sans-serif;
}

%label-2 {
  @include font-strong-reduction(14px, 16px);

  font-family: 'SF UI Display SemiBold', sans-serif;
}
