@import 'colors/map';

@mixin center-by-margin() {
  margin: 0 auto;
}

@mixin stretch-screen() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin button-states($base) {
  background: var(--#{$base}-bg);
}

@mixin dynamic-background($default, $hover, $active) {
  background: $default;

  &:hover {
    background: $hover;
  }

  &:active {
    background: $active;
  }
}

@mixin max-width($resolution) {
  @media (max-width: #{$resolution}px) {
    @content;
  }
}

@mixin min-width($resolution) {
  @media (min-width: #{$resolution}px) {
    @content;
  }
}

@mixin column-flex($gap:0) {
  display: flex;
  flex-direction: column;
  row-gap: $gap;
}

@mixin align-center-row-flex($gap:0) {
  display: flex;
  align-items: center;
  column-gap: $gap;
}

// ограничение числа строк в блоке
@mixin line-overflow($lines-count) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines-count;
  line-clamp: $lines-count;
}

// сильное уменьшение шрифта с уменьшением ширины экрана (для заголовков и подзаголовков)
@mixin font-strong-reduction($initial-font-size, $initial-line-height) {
  $first-multiplier: 0.85;
  $second-multiplier: 0.65;

  font-size: $initial-font-size;
  line-height: $initial-line-height;

  // todo: add breakpoints reduction
}

@mixin color-svg($color) {
  color: $color;

  svg {
    fill: $color;
  }
}

@mixin size-svg($width, $height: $width) {
  svg {
    height: $height;
    width: $width;
  }
}
